---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2>About Me</h2>
  <p>Hi, I'm Robb! I'm a web developer with 10 years of experience in React, TypeScript, and Ruby on Rails.</p>
</Layout>
